.vscode
_local
src/nf_presentation.*
*__pycache__*
build
dist
upload_to_pypi.ps1
*.pptx
.\src\nf_presentation\__*
src/nf_presentation/__pycache__/builders.cpython-39.pyc
src/nf_presentation/__pycache__/report_renderer.cpython-39.pyc
src/nf_presentation/_settings/__pycache__/__init__.cpython-39.pyc
src/nf_presentation/_settings/__pycache__/compact_layout.cpython-39.pyc
src/nf_presentation/__pycache__/builders.cpython-39.pyc
src/nf_presentation/__pycache__/report_renderer.cpython-39.pyc
.~lock.single.pptx#
*.png
*.svg
.~lock.training.pptx#
